<div class="container">
  <h1 class="ml-4 my-4">新規会員登録</h1>

  <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>

    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field ml-5 my-3">
      <%= f.label :名前 %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field ml-5 my-3">
      <%= f.label :メール %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field ml-5 my-3">
      <%= f.label :パスワード %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %>文字以上)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field ml-5 my-3">
      <%= f.label :パスワード確認 %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions ml-5 my-3">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
</div>