<div class="container">
  <div class="row d-flex justify-content-center">
    <!--ソートリンクはgem 'ransackの'のメソッド　昇順降順のソート機能-->
    <div>
      <%= sort_link(@q, :brand_id) do %>
        <button class="btn btn-outline-dark btn-sm rounded-pill mx-2 my-3" >ブランド</button>
      <% end %>
    </div>
    <div>
      <%= sort_link(@q, :category_id) do %>
        <button class="btn btn-outline-dark btn-sm rounded-pill mx-2 my-3" >カテゴリー</button>
      <% end %>
    </div>
    <div>
      <%= sort_link(@q, :price) do %>
        <button class="btn btn-outline-dark btn-sm rounded-pill mx-2 my-3" >価格</button>
      <% end %>
    </div>
    <div>
      <!--search_form_forはRansack専用の検索ヘルパーメソッド-->
      <%= search_form_for @q do |f| %>
        <!--複数カラムの検索にはカラム名_or_カラム名　contは部分一致-->
        <%= f.search_field :brand_brand_name_or_category_category_name_cont, class: 'rounded-pill mx-2 my-3' %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
<!--服一覧表示-->
<div class="container">
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card mb-2">
          <%= link_to item_path(item) do %>
            <%= attachment_image_tag item, :item_image, format: 'jpeg', size: "575x300", fallback: "no-image.jpg", class: 'img-fluid' %>
          <% end %>
            <div class="card-body text-body">
              <p class="card-text"><%= item.brand.brand_name %></p>
              <p class="card-text"><%= item.category.category_name %></p>
              <p class="card-text">¥<%= item.price %></p>
            </div>
        </div>
      </div>
    <% end %>
  </div>
  <!--ページング機能-->
  <%= paginate @items %>
</div>
